---
title: Quinn's Home Page
layout: default
---

<section id="hero-section">
    <h6 class="indent-01">Hello, World</h6>
    <h1 class="indent-01">I'm Quinn Pollock</h1>
    <h6 class="circle">I'm a</h6>
    <h3 class="indent-02">
        Podcast enthusiast,
        <br>Pen &amp; Paper aficionado,
        <br>ttRPG nerd,
        <br>and Musical Obsessed
        <br>Computer science student at queen’s university
        {% include film.html %}
        <br>They/Them
    </h3>
    <img id="img-01" src="/assets/images/quinn.jpg" alt="Quinn Pollock standing in a lavender patch">
    <svg id="arrow-down-01" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
        clip-rule="evenodd">
        <path d="M11 21.883l-6.235-7.527-.765.644 7.521 9 7.479-9-.764-.645-6.236 7.529v-21.884h-1v21.883z" /></svg>
</section>


<section id="posts-section">
    <div class="post-section">
        <h3>
            Recent Projects
        </h3>
        <ul class="list-posts">
            {% for post in site.categories.projects limit:3 %}
            <li><a href="{{ post.url }}">{{ post.title }}</a>: {{ post.short }} —
                {% assign d = post.date | date: "%-d" %}
                {% assign m = post.date | date: "%B" %}
                {% case m %}
                {% when 'April' or 'May' or 'June' or 'July' %}{{ m }}{% when 'September' %}Sept.{% else %}{{ post.date | date: "%b" }}.{% endcase %}
                {% case d %}
                {% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{d}}th{% endcase %},
                {{ post.date | date: "%Y" }}
            </li>
            {% endfor %}
            <li>
                <a href="/projects">See More...</a>
            </li>
        </ul>

    </div>
    <div class="post-section">
        <h3>
            Recent Ideas
        </h3>
        <ul class="list-posts">
            {% for post in site.categories.ideas limit:3 %}
            <li><a href="{{ post.url }}">{{ post.title }}</a>: {{ post.short }} —
                {% assign d = post.date | date: "%-d" %}
                {% assign m = post.date | date: "%B" %}
                {% case m %}
                {% when 'April' or 'May' or 'June' or 'July' %}{{ m }}{% when 'September' %}Sept.{% else %}{{ post.date | date: "%b" }}.{% endcase %}
                {% case d %}
                {% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{d}}th{% endcase %},
                {{ post.date | date: "%Y" }}
            </li>
            {% endfor %}
            <li>
                <a href="/ideas">See More...</a>
            </li>
        </ul>


    </div>
</section>