<html lang="en">
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<meta name="theme-color" content="#ffffff">
		<title>Quinn Pollock</title>
        <meta name="author" content="Jack Guinane, Quinn Pollock" />
        <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
		<link rel="icon" href="/assets/images/logo.png"  type="image/png" />
		<link key="apple-touch-icon" rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple_touch_logo.png">
        <link id="favicon" rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
		<script type="text/javascript" src="/assets/js/script.js"></script>
	</head>