<nav id="nav" class="closed" onclick="this.classList.toggle('closed')">
    <header>
        <img id="logo" draggable="false" alt="logo" src="/assets/images/logo.png" width=40>
        <span class="wordmark">Quinn</span>
        <span class="wordmark">Pollock</span>
    </header>
    <ul>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/">About Me</a></li>
        <li><a href="/ideas">Ideas</a></li>
        <li><a href="https://github.com/holopollock">Github</a></li>
        <li><a href="https://twitter.com/holopollock">Twitter</a></li>
        <li><a href="https://letterboxd.com/holopollock/">Letterboxd</a></li>
    </ul>
    <button id="dark-mode-btn" onclick="changeMode();">dark mode: off</button>
    <div id="menu-btn">
        <span id="menu-text">Menu</span>
        <div id="menu-stack">
            <div id="top-menu"></div>
            <div id="mid-menu"></div>
            <div id="bot-menu"></div>
        </div>
    </div>
</nav>